{% extends 'stable/base_admin.html' %}
{% load staticfiles %}

{% block descriere_comanda %}
    <h2> Statistici camin </h2>
    {% for facultate, value in repartizare.items %}
        <ul>
            <li>
                <a class="expand"> {{ facultate }}</a>
                <ul>
                <li>
                <a class="expand"> Camine </a>
                {% for camin in value %}
                   <ul>
                        <li>
                            {% for cheie, camere in camin.items %}
                            <a class="expand">{{ cheie }}</a>
                            <ul>
                                <li>

                                    <table style="width:100%">
                                        <tr>
                                            <th>Camera</th>
                                            <th>Locuri</th>
                                            <th>Studenti</th>
                                        </tr>
                                        {% for camera in camere %}
                                            {% for cheie_c, valoare_c in camera.items %}
                                                <tr>
                                                    <th> {{ cheie_c }}</th>
                                                    <th> 5 </th>
                                                    <th> {{ valoare_c }}  </th>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endfor %}
                {% endfor %}
                    </li>
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock %}

{% block comenzi %}
    <li><a href="{% url 'administrator' %}"> Repartizare </a></li>
    <li><a href="{% url 'camin' %}" class="selected"> Camin </a></li>
    <li><a href="{% url 'avansare' %}"> Avansare </a></li>
    <li><a href="{% url 'excel' %}" > Excel </a></li>
    <li><a href="{% url 'resetare' %}"> Resetare </a></li>
{% endblock %}

{% block js %}
    <script>
        var expander = document.querySelectorAll('.expand');

        for (var i = 0; i < expander.length; ++i) {
          expander[i].onclick = function() {
            var ul = this.parentElement.querySelectorAll('ul')[0];

            if (ul.offsetHeight > 0) {
              ul.style.display = 'none';
            } else {
              ul.style.display = 'block';
            }
          }
        }
    </script>
{% endblock %}