{% extends 'stable/base_admin.html' %}
{% load staticfiles %}

{% block descriere_comanda %}
    <h2> Creare conturi </h2>
    <p> Cu ajutorul acestei comenzi se crează conturile studenților. </p>
    <p> Fișierul trebuie să fie de forma "an, nume, număr matricol, email, sex, grupă, facultate". </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="fisier_studenti" type="file" accept=".csv">
        <div class="col-lg-8" style="text-align: center; margin:80px;">
            <button type="submit" class="btn btn-primary" style="height:50px; width:200px"> Aplică </button><br><br>
        </div>
    </form>
{% endblock %}

{% block comenzi %}
    <li><a href="{% url 'administrator' %}"> Repartizare </a></li>
    <li><a href="{% url 'anunt' %}"> Anunț </a></li>
    <li><a href="{% url 'camin' %}"> Camin </a></li>
    <li><a href="{% url 'repartizare_camin' %}"> Oferire cămin </a></li>
    <li><a href="{% url 'cont' %}" class="selected"> Creare conturi </a></li>
    <li><a href="{% url 'avansare' %}" > Avansare </a></li>
    <li><a href="{% url 'excel' %}" > Excel </a></li>
    <li><a href="{% url 'resetare' %}"> Resetare </a></li>
{% endblock %}