{% extends 'stable/base_admin.html' %}
{% load staticfiles %}

{% block descriere_comanda %}
    <h2> Resetare date </h2>
    <p> Prin intermediul acestei comenzi se oferă posibilitatea, în cazul în care dacă datorită unui comportament neobișnuit
    repartizarea studenților nu se face conform așteptărilor, de a șterge datele ce au fost create după efectuare repartizării(dacă au fost)
    cu scopul de a pregăti setul de date pentru a mai fi rulat încă o dată. </p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-8" style="text-align: center; margin:80px;">
            <button type="submit" class="btn btn-primary" style="height:50px; width:200px"> Aplică </button><br><br>
        </div>
    </form>
{% endblock %}

{% block comenzi %}
    <li><a href="{% url 'administrator' %}"> Repartizare </a></li>
    <li><a href="{% url 'anunt' %}"> Anunț </a></li>
    <li><a href="{% url 'camin' %}"> Camin </a></li>
    <li><a href="{% url 'cont' %}"> Creare conturi </a></li>
    <li><a href="{% url 'avansare' %}" > Avansare </a></li>
    <li><a href="{% url 'excel' %}" > Excel </a></li>
    <li><a href="{% url 'resetare' %}" class="selected"> Resetare </a></li>
{% endblock %}