{% extends 'stable/base.html' %}
{% load staticfiles %}
{% block title %} Acasa {% endblock %}
{% block head %}
<style>
.camin{
  height: 500px;
  float: left;
  width: 40%;
  padding-left: 15px;
}
</style>
<link rel="shortcut icon" type="image/png" href="{% static 'stable/images/7.png' %}"/>
<script src="{% static 'GoogleMaps.js' %}"></script>
{% endblock %}
{% block body %}

<center><h2>Universitatea Alexandru Ioan Cuza Iași</h2>
    <h2> Facultatea de Informatică </h2>
</center>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="camin">
            <p> Universitatea Alexandru Ioan Cuza dispune de 15 camine </p>
            <p><a href="#Targusor">Campus Târgușor-Copou </a></p>
            <ul>
                <li>Cămin C1 </li>
                <li>Cămin C2 </li>
                <li> Cămin C3 </li>
                <li> Cămin C4 </li>
            </ul>
            <p><a href="#Titu"> Campus Titu Maiorescu </a></p>
            <ul>
                <li> Cămin C5 </li>
                <li> Cămin C6 </li>
                <li> Cămin C7 </li>
                <li> Cămin C8 </li>
            </ul>
            <p><a href="#Codrescu"> Campus Codrescu </a></p>
            <ul>
                <li> Cămin C10 </li>
                <li> Cămin C11 </li>
                <li> Cămin C12 </li>
                <li> Cămin C13 </li>
            </ul>
            <p><a href="#Gaudeamus"> Hotelul studenţesc Gaudeamus </a></p>
            <p><a href="#Akademos"> Hotelul studenţesc Akademos </a></p>
            <p><a href="#Buna Vestire"> Cămin „Buna Vestire" </a></p>

        </div>

        <div id="map" style="width:500px;height:450px;"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlPPwIfOUh_RcAN6xNX7KcDu7YTnWD8l0&callback=myMap"></script>

    </div>

    <h3 id="Targusor"> Campus Târgușor-Copou </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; În campusul „Codrescu” sunt cazaţi aproximativ 1800 de studenţi şi studente, doctoranzi şi angajaţi ai universităţii. Este amplasat tot în zona Copou, la o distanţă de doar cîteva minute de universitate şi de campusul „Titu Maiorescu”.</p>
    <p>&nbsp;&nbsp;&nbsp; Complexul studenţesc este format din patru cămine (C10, C11, C12 şi C13) având camere de câte 2, 3 şi 5 locuri. Căminele dispun de oficii de preparare a hranei şi săli de lectură.</p>
    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li>C1
            <ul>
                <li>275 lei/loc/lună (2 locuri în cameră)</li>
                <li>250 lei/loc/lună (3 locuri în cameră)</li>
            </ul>
        </li>

        <li>C2
            <ul>
                <li>275 lei/loc/lună (2 locuri în cameră)</li>
                <li>250 lei/loc/lună (3 locuri în cameră)</li>
                <li>225 lei/loc/lună (4 locuri în cameră)</li>
                <li>185 lei/loc/lună (3+1 locuri în cameră)</li>
            </ul>
        </li>

        <li>C3
            <ul>
                <li>275 lei/loc/lună (2 locuri în cameră)</li>
                <li>250 lei/loc/lună (3 locuri în cameră)</li>
                <li>225 lei/loc/lună (4 locuri în cameră)</li>
            </ul>
        </li>

        <li>C4
            <ul>
                <li>120 lei/loc/lună (5 locuri în cameră)</li>
            </ul>
        </li>
    </ul><br>

    <h3 id="Titu"> Campus Titu Maiorescu </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; Campusul „Titu Maiorescu” este la doar două-trei minute de universitate, într-o zonă în care viaţa studenţească este la ea acasă. În acelaşi campus se află şi o cantină studenţească, un fast food şi o cafenea.</p>
    <p>&nbsp;&nbsp;&nbsp; În cele patru cămine din campus (C5, C6, C7 şi C8) sunt în jur de 2000 de locuri de cazare, camerele fiind de câte cinci locuri. Căminele dispun de grupuri sanitare modernizate, bucătării şi săli de lectură.</p>

    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li>C5
            <ul>
                <li>275 lei/loc/lună (2 locuri în cameră)</li>
                <li>250 lei/loc/lună (2 locuri în cameră, pat dublu)</li>
                <li>250 lei/loc/lună (3 locuri în cameră)</li>
            </ul>
        </li>
        <li>C6, C7, C8
            <ul>
                <li>120 lei/loc/lună (5 locuri în cameră)</li>
            </ul>
        </li>
    </ul><br>

    <h3 id="Codrescu"> Campus Codrescu </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; În campusul „Codrescu” sunt cazaţi aproximativ 1800 de studenţi şi studente, doctoranzi şi angajaţi ai universităţii. Este amplasat tot în zona Copou, la o distanţă de doar cîteva minute de universitate şi de campusul „Titu Maiorescu”.</p>
    <p>&nbsp;&nbsp;&nbsp; Complexul studenţesc este format din patru cămine (C10, C11, C12 şi C13) având camere de câte 2, 3 şi 5 locuri. Căminele dispun de oficii de preparare a hranei şi săli de lectură.</p>

    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li>C11(doctoranzi, studenți familiști)
            <ul>
                <li>150 lei/loc/lună (2 sau 3 locuri în cameră)</li>
            </ul>
        </li>
        <li>C10, C12, C13
            <ul>
                120 lei/loc/lună (5 locuri în cameră)
            </ul>
        </li>
    </ul><br>

    <h3 id="Gaudeamus"> Hotelul studenţesc Gaudeamus </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; Centrul de Schimburi Internaţionale „Gaudeamus” este un adevărat hotel pentru studenţii universităţii, studenţi şi profesori din străinătate. Căminul, aflat în apropierea imediată a universităţii şi a campusurilor studenţeşti, oferă condiţii deosebite de cazare în camere cu 2 şi 3 locuri.</p>
    <p>&nbsp;&nbsp;&nbsp; Toate camerele sunt dotate cu baie proprie, aer condiţionat, frigider, TV, telefon, cafetiere etc. La fiecare nivel există bucătării dotate modern şi oficii de spălătorie.</p>
    <p>&nbsp;&nbsp;&nbsp; Cei cazaţi în cămin pot servi masa la restaurantul centrului.</p>

    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li> 440 lei/loc/lună </li>
    </ul><br>

    <h3 id="Akademos"> Hotelul studenţesc Akademos </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; Hotelul este amplasat central, în zona Râpa Galbenă, iar studenţii cazaţi aici pot ajunge la cursuri în mai puţin de 10 minute, pe jos.</p>
    <p>&nbsp;&nbsp;&nbsp; Camerele au câte două sau trei locuri, sunt dotate cu aer condiţionat, baie şi cabine de duş proprii, frigider, mobilier modern, conexiune la internet.</p>
    <p>&nbsp;&nbsp;&nbsp; În total căminul are 500 de locuri.</p>

    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li> 500 lei/loc/lună </li>
        <li>440 lei/loc/lună pentru camerele situate la mansardă</li>
    </ul><br>

    <h3 id="Buna Vestire"> Cămin „Buna Vestire" </h3><hr>
    <p>&nbsp;&nbsp;&nbsp; Căminul „Buna Vestire” este cel mai nou cămin al Universității „Alexandru Ioan Cuza” din Iași, fiind inaugurat în octombrie 2017. Amplasat în centrul Iașului, chiar în imediata apropiere a Mitropoliei Moldovei și Bucovinei și a clădirii unde are sediul Facultatea de Teologie Ortodoxă, căminul pune la dispoziție 120 de locuri de cazare în camere cu 1 și 2 locuri. Dotat la standarde hoteliere, camerele au baie proprie, aer condiționat și frigider, conexiune la internet, fiind prevăzute și camere pentru studenții cu dizabilități.</p>

    <p>&nbsp;&nbsp;&nbsp; Lista de prețuri: </p>
    <ul>
        <li> 350 lei/loc/lună </li>
    </ul><br>
</div>

{% endblock %}
