{% extends 'stable/base.html' %}
{% block title %} Profil {% endblock %}
{% load staticfiles %}

{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'stable/images/9.png' %}"/>
{% endblock %}

{% block profil %}

    <center><h4> Date personale </h4><br></center>
    {% if student.poza_profil|length > 3 %}
        <img src="{{ student.poza_profil.url }}" class="img-responsive" alt="">
    {% else %}
        {% if student.0.6 == 'F' %}
            <img src="{% static 'stable/images/3.jpg' %}" class="img-responsive" alt="">
        {% else %}
            <img src="{% static 'stable/images/3.png' %}" class="img-responsive" alt="">
        {% endif %}
    {% endif %}

    <a href="#infoContent" data-toggle="collapse"> Schimba poza de profil </a>
    <div id="infoContent" class="collapse">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="text-danger small"> {{student.errors}}</span>
            <input type="file" name="poza_profil">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success"> Incarca poza </button>
            </div>
        </form>
    </div>
    <h4>Nume: {{ student.nume }}</h4>
    <h4>Prenume: {{ student.prenume }}</h4>
    <h4>Numar matricol: {{ student.numar_matricol }}</h4>
    <h4>An: {{ student.an }}</h4>
    <h4>Grupa: {{ student.grupa }}</h4>


    {% if student %}
    {% else %}
        <br>
        <center>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button"> Login </a>
        </center>
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container-fluid">
      <div class="row content">
        <div class="col-md-4">
            <form id="test">
              <select id="studenti" size="8" style="width:50%;">
                {% for item in colegi_camin %}
                    <option> {{ item }}</option>
                {% endfor %}
              </select>
            </form>
            <button type="button" onclick="adaugareFavorit()"> Adauga persoana </button>
        </div>

        <div class="col-md-4">
            <form>
                <select id="favoriti" size="8" style="width:50%;">
                </select>
            </form>
            <button type="button" onclick="salvareFavoriti()"> Incarca lista </button>
        </div>
      </div>
    </div>

{% endblock %}