{% extends 'stable/base.html' %}
{% block title %} Profil {% endblock %}
{% load staticfiles %}

{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'stable/images/9.png' %}"/>
{% endblock %}

{% block profil %}

    <center><h4> Date personale </h4><br></center>
    {% if student.poza_profil|length > 3 %}
        <img src="{{ student.poza_profil.url }}" class="img-responsive" alt="">
    {% else %}
        {% if student.0.6 == 'F' %}
            <img src="{% static 'stable/images/3.jpg' %}" class="img-responsive" alt="">
        {% else %}
            <img src="{% static 'stable/images/3.png' %}" class="img-responsive" alt="">
        {% endif %}
    {% endif %}

    <a href="#infoContent" data-toggle="collapse"> Schimba poza de profil </a>
    <div id="infoContent" class="collapse">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="text-danger small"> {{student.errors}}</span>
            <input type="file" name="poza_profil">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success"> Incarca poza </button>
            </div>
        </form>
    </div>
    <h4 style="text-align: center; background-color:#800000; color:white;">Nume </h4>
    <h4 style="text-align: center;">{{ student.nume }}</h4>
    <h4 style="text-align: center; background-color:#800000; color:white;">Prenume </h4>
    <h4 style="text-align: center;">{{ student.prenume }}</h4>
    <h4 style="text-align: center; background-color:#800000; color:white;">Numar matricol </h4>
    <h4 style="text-align: center;">{{ student.numar_matricol }}</h4>
    <h4 style="text-align: center; background-color:#800000; color:white;">An </h4>
    <h4 style="text-align: center;">{{ student.an }}</h4>
    <h4 style="text-align: center;background-color:#800000; color:white;">Grupa </h4>
    <h4 style="text-align: center;">{{ student.grupa }}</h4>


    {% if student %}
    {% else %}
        <br>
        <center>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button"> Login </a>
        </center>
    {% endif %}
{% endblock %}

{% block body %}

    {% if introdus_preferinte %}
        <div class="alert-success" style="padding: 15px;
    background-color: #800000;
    color: white;
    margin-bottom: 15px;">
            <strong>Succes!</strong> Preferintele au fost incarcate.
        </div>
    {% else %}
        <p>&nbsp;&nbsp;&nbsp; In lista de mai jos sunt studenții care au fost repartizați în {{nume_camin}}...așa ca tine, deci nu mai sta pe gânduri și alege cu cine
        ai vrea să stai în cameră în următorul an. </p>
        <p>&nbsp;&nbsp;&nbsp; Nu uita trebuie să selectezi persoanele în ordinea preferințelor, fie că este o singură persoană sau toate. </p><br>
        <div class="container-fluid">
          <div class="row content">
            <div class="col-md-2 col-xs-0"></div>
            <div class="col-md-4 col-xs-6">
                <form>
                  <select id="studenti" size="8" style="width:70%;">
                    {% for item in colegi_camin %}
                        <option> {{ item }}</option>
                    {% endfor %}
                  </select>
                </form>
                <button type="button" class="btn btn-secondary" onclick="adaugareFavorit()" style="width:70%;"> Adauga persoana </button>
            </div>

            <div class="col-md-4 col-xs-6">
                <form action="" method="post">
                    {% csrf_token %}
                    <select id="favoriti" size="8" style="width:70%;">
                    </select>
                    <button type="submit" class="btn btn-secondary" onclick="salvareFavoriti()" style="width:34%;"> Incarca lista </button>
                    <button type="button" class="btn btn-secondary" onclick="eliminareFavorit()" style="width:34%;"> Elimina </button>
                </form>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}