{% extends 'stable/base.html' %}
{% block title %} Recenzii {% endblock %}

{% block javascript %}
    <script>
        function showCustomer(str) {
            if(str != ""){
                $.ajax({
                    url: '/ajax/validate_username/',
                    type: 'get',
                    data: {
                      'numeColeg': str
                    },
                    dataType: 'json',
                  }).done(function(data){
                    var tabel = "<table>";
                    for(it in data){
                        if(it != "Poza:")
                        {
                            tabel += "<tr><td><b>" + it + "</b></td>";
                            tabel += "<td>"  + data[it] + "</td></tr>";
                        }
                        else
                        {
                             $('.result2').html('<img src="/media/' + data[it] + '" height="245" width="180" />');
                        }
                    }
                    tabel += "</table>"
                    $('.result').html(tabel);
                  });
            }
        }

        function recenziiFacute(nr_matricol){
            var index = 0;
            var iterator = 0;
            var rez = "";
            $.ajax({
                    url: '/ajax/recenzii_facute/',
                    type: 'get',
                    data: {
                      'nr_matricol': nr_matricol
                    },
                    dataType: 'json',
                  }).done(function(data){
                    console.log(data);
                    var date = [];
                    for(it in data){
                        if(iterator % 6 == 4){ //nume de la
                            date.push(data[it]);
                        }
                        iterator = iterator + 1;
                    }
                    iterator = 0;
                    console.log(date);
                    for(it in data){

                        console.log(iterator%6);
                        if(iterator % 6 == 1){ //nume de la
                            rez += "<h5><span class='glyphicon glyphicon-time'></span> Post by " + data[it] + ", " + date[index] + ".</h5>";
                            index = index + 1;
                        }
                        if(iterator % 6 == 2){ //nume pt rec
                            rez += "<h5>To:"+ data[it] + "</h5>";
                        }
                        if(iterator % 6 == 3){ //nume
                            rez += "<h5><span class='label label-danger'>Coleg</span> <span class='label label-primary'>C12</span></h5>";
                            rez += "<p>" + data[it] + "</p>";
                        }
                        if(iterator % 6 == 5){ //nume
                            rez += "<h5><span class='glyphicon glyphicon-star'></span>" + data[it] + "/5</h5>";
                            rez += "<hr>";
                        }
                        iterator = iterator + 1;
                    }


                    $('.recenziiFacute').html(rez);
                  });
        }
    </script>

{% endblock %}

{% block body %}


<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="recenziiFacute('{{ nr_matricol }}')">Recenziile facute </button>
    <button type="button" class="btn btn-primary">Recenziile primite </button>
    <button type="button" class="btn btn-primary">Ultimele recenzii </button>
</div>
<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#addRecenzie" style="float: right; margin-right:40px;">Adauga o recenzie</button>
<div id="addRecenzie" class="collapse">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <br>
        <div class="container-fluid">
            <div class="col-sm-6">
                <div class="form-group">
                  <label>Numele colegului:</label>
                  <form action="">
                      <select class="form-control" name="numeColeg" onchange="showCustomer(this.value)">
                        <option value="">Alege un student:</option>
                        {% for coleg in colegi %}
                            <option>{{ coleg }}</option>
                        {% endfor %}
                      </select>
                  </form>
                </div>
                <div class="form-group">
                  <label>Calificativ:</label>
                  <select class="form-control" name="notaColeg">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                    <label>Example textarea</label>
                    <textarea class="form-control" name="mesajColeg" rows="3"></textarea>
                </div>
                <center><button type="submit" class="btn btn-success"> Incarca recenzie </button></center>
            </div>
            <div class="col-sm-3">
                <div class="result2"></div>
            </div>
            <div class="col-sm-3">
                <div class="result"></div>
            </div>
        </div>
    </form>
    <br><br>
</div>

{% if warning %}
    <br><br>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ warning }}
    </div>
{% endif %}
{% if succes %}
    <br><br>
    <div class="success">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ succes }}
    </div>
{% endif %}

<h4>&nbsp; Noutati</h4><hr>
<div class="recenziiFacute"></div>
<h2>STOP </h2>
{% for rec in recenzii %}
    <h5><span class="glyphicon glyphicon-time"></span> Post by {{rec.1}}, {{rec.4}}.</h5>
    <h5>To: {{ rec.2 }} </h5>
    <h5><span class="label label-danger">Coleg</span> <span class="label label-primary">C12</span></h5><br>
    <p> {{ rec.3 }}</p>
    <hr>
{% endfor %}

{% endblock %}
