{% extends 'stable/base.html' %}
{% load staticfiles %}
{% block title %} Recenzii {% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/png" href="{% static 'stable/images/6.png' %}"/>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
{% endblock %}

{% block body %}


    <div class="btn-group">
        <a><button type="button" class="btn btn-primary" onclick="recenziiFacute('{{ nr_matricol }}')">Recenziile facute </button></a>
        <a><button type="button" class="btn btn-primary" onclick="recenziiPrimite('{{ nr_matricol }}')">Recenziile primite </button></a>
        <a href="{% url 'recenzie' %}"> <button type="button" class="btn btn-primary">Ultimele recenzii  </button></a>
    </div>
    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#addRecenzie" style="float: right; margin-right:40px;">Adauga o recenzie</button>
    <div id="addRecenzie" class="collapse">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
           <br>
            <div class="container-fluid">
                <div class="col-sm-5">
                    <div class="form-group">
                      <label>Numele colegului:</label>
                      <form action="">
                          <select class="form-control" name="numeColeg" onchange="detaliiColeg(this.value)">
                            <option value="">Alege un student:</option>
                            {% for coleg in colegi %}
                                <option>{{ coleg }}</option>
                            {% endfor %}
                          </select>
                      </form>
                    </div>
                    <div class="form-group">
                      <label>Calificativ:</label>
                      <select class="form-control" name="notaColeg">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label>Example textarea</label>
                        <textarea class="form-control" name="mesajColeg" rows="3"></textarea>
                    </div>
                    <center><button type="submit" class="btn btn-success"> Incarca recenzie </button></center>
                </div>
                <div class="col-sm-3" style="width:240px; height:300px;">
                    <div class="result2"></div>
                </div><br><br>

                <div class="sticker" style="padding:10px;">
                    <div class="col-lg-3">
                    <p>Nume: </p>
                    </div>
                    <div class="nume"></div>
                </div><br>

                <div class="sticker" style="padding:10px;">
                    <div class="col-lg-3">
                    <p>An: </p>
                    </div>
                    <div class="an"></div>
                </div><br>

                <div class="sticker" style="padding:10px;">
                    <div class="col-lg-3">
                    <p>Grupa: </p>
                    </div>
                    <div class="grupa"></div>
                </div>

            </div>
        </form>
        <br><br>
    </div>

    {% if warning %}
        <br><br>
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ warning }}
        </div>
    {% endif %}

    {% if succes %}
        <br><br>
        <div class="success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ succes }}
        </div>
    {% endif %}

    <div class="recenziiRealizate">
        <center><h2>Ultimele recenzii</h2></center>
        {% for rec in recenzii %}
            <div class="sticker">
                <div class="col-md-3 col-sm-3">
                    {% for cheie, valoare in poze.items %}
                        {% if cheie == rec.1 %}
                            <center><img src="/media/{{ valoare }}" height="100" width="100" />
                            <p style="font-size:12px;">{{ rec.1 }}</p></center>
                        {% endif %}
                        {% if cheie == rec.2 %}
                            <center><img src="/media/{{ valoare }}" height="100" width="100" />
                            <p style="font-size:12px;">{{ rec.2 }}</p></center>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-md-3 col-sm-3">
                    <br>
                    <h5> Expeditor</h5>
                    <p>Destinatar</p>
                    <p>Data</p>
                    <p>Cămin</p>
                    <p>Rating</p>
                    <p>Mesaj</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <br>
                    <h5>{{rec.1}}</h5>
                    <p>{{ rec.2 }} </p>
                    <p>{{rec.4}} </p>
                    {% for c, v in camin.items %}
                        {% if c == rec.1 %}
                            <p> {{v}} </p>
                        {% endif %}
                    {% endfor %}
                    <p> {{ rec.5 }}/5 <span class='glyphicon glyphicon-star'></span></p>
                    <p> {{ rec.3 }}</p>
                </div>

                </div>
                <br>
        {% endfor %}

        <center>
        {% if recenzii.has_other_pages %}
          <ul class="pagination">
            {% if recenzii.has_previous %}
              <li><a href="?page={{ recenzii.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in recenzii.paginator.page_range %}
              {% if users.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if recenzii.has_next %}
              <li><a href="?page={{ recenzii.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </center>
    </div>
{% endblock %}