{% extends 'stable/base.html' %}
{% load staticfiles %}
{% block title %} Recenzii {% endblock %}

{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'stable/images/6.png' %}"/>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
{% endblock %}

{% block body %}


<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="recenziiFacute('{{ nr_matricol }}')">Recenziile facute </button>
    <button type="button" class="btn btn-primary" onclick="recenziiPrimite('{{ nr_matricol }}')">Recenziile primite </button>
    <button type="button" class="btn btn-primary" onclick="toateRecenziile()">Ultimele recenzii </button>
</div>
<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#addRecenzie" style="float: right; margin-right:40px;">Adauga o recenzie</button>
<div id="addRecenzie" class="collapse">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <br>
        <div class="container-fluid">
            <div class="col-sm-6">
                <div class="form-group">
                  <label>Numele colegului:</label>
                  <form action="">
                      <select class="form-control" name="numeColeg" onchange="showCustomer(this.value)">
                        <option value="">Alege un student:</option>
                        {% for coleg in colegi %}
                            <option>{{ coleg }}</option>
                        {% endfor %}
                      </select>
                  </form>
                </div>
                <div class="form-group">
                  <label>Calificativ:</label>
                  <select class="form-control" name="notaColeg">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                    <label>Example textarea</label>
                    <textarea class="form-control" name="mesajColeg" rows="3"></textarea>
                </div>
                <center><button type="submit" class="btn btn-success"> Incarca recenzie </button></center>
            </div>
            <div class="col-sm-3">
                <div class="result2"></div>
            </div>
            <div class="col-sm-3">
                <div class="result"></div>
            </div>
        </div>
    </form>
    <br><br>
</div>

{% if warning %}
    <br><br>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ warning }}
    </div>
{% endif %}

{% if succes %}
    <br><br>
    <div class="success">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ succes }}
    </div>
{% endif %}

<h4>&nbsp; Noutati</h4><hr>
<div class="recenziiRealizate"></div>
<h2>STOP </h2>
{% for rec in recenzii %}
    <h5><span class="glyphicon glyphicon-time"></span> Postat de {{rec.1}}, {{rec.4}}.</h5>
    <h5>Către: {{ rec.2 }} </h5>
    <h5><span class="label label-danger">Coleg</span> <span class="label label-primary">C12</span></h5><br>
    <p> {{ rec.3 }}</p>
    <hr>
{% endfor %}

<center>
{% if recenzii.has_other_pages %}
  <ul class="pagination">
    {% if recenzii.has_previous %}
      <li><a href="?page={{ recenzii.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in recenzii.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if recenzii.has_next %}
      <li><a href="?page={{ recenzii.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
</center>