<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% load staticfiles %}
{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'stable/images/5.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'javascript.js' %}"></script>
{% endblock %}

<style>
body{
    background-color: #99CCFF;
}
</style>
<script>
    var check_passwords = function() {
      if (document.getElementById('password').value !=
        document.getElementById('re_password').value) {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Passwords do not match.';
      } else {
        document.getElementById('message').innerHTML = '';
      }
    }
</script>

<div class="container" style="margin-top: 10%">

    <form class="well form-horizontal" action="" method="post">
    {% csrf_token %}
        <center><h2><b> Formular de resetare a parolei </b></h2></center><br>


        <div class="form-group">
          <label class="col-md-4 control-label">Cod Verificare</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="codVerificare" id="codVerificare" placeholder="Codul din email" class="form-control"  type="text">
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" >Parola</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="password" id="password" placeholder="Parola" class="form-control"  type="password" onkeyup='check_passwords();'>
                </div>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" > Verificare Parola</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="re_password" id="re_password" placeholder="Reintroduceti parola" class="form-control"  type="password" onkeyup='check_passwords();'>
                </div>
                <span id='message'></span>
            </div>
        </div>

        <center>
            <div style="text-align: center;">
                {% if mesaj_reset %}
                    <br><br>
                    <div class="alert">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      {{ mesaj_reset }}
                    </div>
                {% endif %}
            </div>
        </center>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            <center><button type="submit" class="btn btn-warning" > Schimbare parola <span class="glyphicon glyphicon-send"></span></button></center>
          </div>
        </div>

    </form>
</div>

